p {
    margin-top: 50px;
    font-style: bold;
}

.formcontact {
    width: 700px;
    margin-top: 50px;
    display: flex;
    color: black;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

label {
    justify-self: center;
}

.input {
    width: 250px;
    margin: 5px;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.form-item-wrapper {
    justify-content: center;
    align-content: center;
}

.text {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 300px;
}

button {
    color: black;
}

/* Signpup */
/* 
.signup {
    width: 100%;
}

#form-user {
    width: 200px;
    height: 90px
} */

.buttoncontact{
    color: black
}