/* p {
    margin-top: 50px;
    font-style: bold;
} */

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: black;
    border: 1px solid black;
    margin: auto;
    width: 300px;
    margin-top: 30px;
    padding-top: 30px;
    box-shadow: 12px 12px 38px 9px rgba(58,58,58,0.71), 12px 12px 38px 9px rgba(86,86,86,0.71);
    background: white;
}

/* label {
    justify-self: center;
}

.input {
    width: 250px;
    margin: 5px;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
}

.form-item-wrapper {
    justify-content: center;
    align-content: center;
}

.text {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 300px;
} */

/* Signpup */

.signup {
    padding: 10%;
    width: 100%;
    height: 100%;
    color: white;
    display: block;
    margin: auto;
    background: url(./../assets/img/Background_connect_copie.png);
    background-repeat: no-repeat;
}


button{
    color: white
}


#form-user {
    width: 200px;
    height: 90px
}